header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.addlist {
  padding-top: 20px;
  padding-bottom:20px;
  outline: solid black 2px;
  margin-bottom: 30px;
}
p {
  font-size: larger;
  text-decoration: underline;
}
#lists {

}
h3 {
  text-decoration: underline;
  padding-bottom: 10px;
}


/* event.preventDefault() - prevents reload ?

<form onsubmit="app.listController.addItem()"> ?

    let checkBox = document.createElement("input");
    checkBox.type = "checkbox";
 */